<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <main>
    <h1>Admin</h1>
    <% if (locals.polls) { %>
      <section class="poll-container">
        <% polls.forEach(poll => { %>
          <div>
            <h2><%= poll.question %></h2>
            <form action="/admin" method="POST">
              <button type="submit" name="id" value="<%= poll._id %>">Close poll</button>
            </form>
          </div>
        <% }) %>
      </section>
    <% } else { %>
      <p>No polls</p>
    <% } %>
  </main>

    <%- include('../partials/footer'); %>
</body>
</html>