<%- include('../partials/open'); %>
<%- include('../partials/header'); %>

<main>
  <h1><%= locals.data ? 'Edit saved poll' : 'Create poll' %></h1>
  <% if (locals.data) { %>
    <p>Save this url</p>
    <input id="copyInput" type="text" value="http://localhost:4000/saved/<%= data._id %>" readonly>
    <script src="/scripts/copyToClipboard.js"></script>
    <form action="/saved/<%= data._id %>" method="POST">
      <button type="submit">Remove saved poll</button>
    </form>
  <% } else { %>
    <form id="addInputs" action="/addanswers" method="POST">
      <label>
        Amount of answers
        <input type="number" name="answers" value="<%= locals.answers ? answers.length : '3' %>" required/>
      </label>
      <button type="submit">Add inputs</button>
    </form>
  <% } %>
  <form class="create-poll" method="POST">
    <section class="create-poll-column">
      <label>
        Question
        <input type="text" name="question" value="<%= locals.data && data.question %>" required/>
      </label>
      <div id="answerContainer">
        <% if (locals.data) { %>
          <% data.answers.forEach((answer, index) => { %>
            <label>
              Answer <%= index + 1 %>
              <span class="removeAnswer">x</span>
              <input type="text" name="answers" value="<%= answer %>" required/>
            </label>
          <% }) %>
        <% } else { %>
          <% if (locals.answers) { %>
            <% answers.forEach(answer => { %>
              <label>
                Answer <%= answer + 1 %>
                <span class="removeAnswer">x</span>
                <input type="text" name="answers" required/>
              </label>
            <% }) %>
          <% } else { %>
            <label>
              Answer 1
              <span class="removeAnswer">x</span>
              <input type="text" name="answers" required/>
            </label>
            <label>
              Answer 2
              <span class="removeAnswer">x</span>
              <input type="text" name="answers" required/>
            </label>
            <label>
              Answer 3
              <span class="removeAnswer">x</span>
              <input type="text" name="answers" required/>
            </label>
          <% } %>
        <% } %>
      </div>
      <button id="addAnswer" type="button">Add answer</button>
    </section>
    <section class="form-column">
      <label>
        Closing time
        <% if (locals.data) { %>
          <input type="time" name="time" value="<%= data.time %>" required>
        <% } else { %>
          <% 
            const time = new Date()
            time.setHours(time.getHours() + 1)
          %>
          <input type="time" name="time" value="<%= time.toLocaleTimeString('en-GB').slice(0, -3) %>" required>
        <% } %>
      </label>
      <label>
        Closing date
        <input type="date" name="date" min="<%= new Date().toISOString().slice(0, 10) %>" value="<%= locals.data ? data.date : new Date().toISOString().slice(0, 10) %>" required>
      </label>
    </section>
    <button class="big-button" formaction="/createpoll" type="submit" name="<%= locals.data && 'savedID' %>" value="<%= locals.data && data._id %>">Create poll</button>
    <% if (!locals.data) { %>
      <button class="big-button" formaction="/savepoll" type="submit">Save poll for later</button>
    <% } %>
  </form>
</main>

<%- include('../partials/close'); %>
