<%- include('../partials/open'); %>
<%- include('../partials/header'); %>

<main>
  <h1>Home</h1>
  <% if (locals.voted && locals.voted.length) { %>
    <h2>Your recently voted polls</h2>
    <section class="poll-container">
      <% voted.forEach(votedPoll => { %>
        <a class="poll-block" href="/poll/<%= votedPoll._id %>">
          <h2><%= votedPoll.question %></h2>
          <p><%= votedPoll.totalVotes %> <%= votedPoll.totalVotes !== 1 ? 'votes' : 'vote' %></p>
          <% if (votedPoll.closed) { %>
            <h3>This poll is closed</h3>
          <% } else { %>
            <h3>Closes <%= votedPoll.closingtime.toDateString() === new Date().toDateString() ? 'today' : `on ${votedPoll.closingtime.toLocaleDateString('en-GB', { weekday: 'long' })}` %> at <%= votedPoll.closingtime.toLocaleTimeString('en-GB').slice(0, -3)  %></h3>
          <% } %>
        </a>
      <% }) %>
      <a class="poll-anchor" href="/voted">See all your voted polls <span>&rarr;</span></a>
    </section>
  <% } %>
  <% if (locals.recent && locals.recent.length) { %>
    <h2>Recently added polls</h2>
    <section class="poll-container">
      <% recent.forEach(recentPoll => { %>
        <a class="poll-block" href="/poll/<%= recentPoll._id %>">
          <h2><%= recentPoll.question %></h2>
          <p><%= recentPoll.totalVotes %> <%= recentPoll.totalVotes !== 1 ? 'votes' : 'vote' %></p>
          <% if (recentPoll.closed) { %>
            <h3>This poll is closed</h3>
          <% } else { %>
            <h3>Closes <%= recentPoll.closingtime.toDateString() === new Date().toDateString() ? 'today' : `on ${recentPoll.closingtime.toLocaleDateString('en-GB', { weekday: 'long' })}` %> at <%= recentPoll.closingtime.toLocaleTimeString('en-GB').slice(0, -3)  %></h3>
          <% } %>
        </a>
      <% }) %>
      <a class="poll-anchor" href="/polls">See all polls <span>&rarr;</span></a>
    </section>
  <% } %>
</main>

<%- include('../partials/close'); %>
