<%- include('../partials/open'); %>
<%- include('../partials/header'); %>

  <main>
    <h1>Polls</h1>
    <% if (locals.polls && locals.polls.length) { %>
      <section class="poll-container">
        <% polls.forEach(poll => { %>
          <a class="poll-block" href="/poll/<%= poll._id %>">
            <%= poll.question %>
          </a>
        <% }) %>
      </section>
    <% } else { %>
      <p>No polls</p>
    <% } %>
  </main>

<%- include('../partials/close'); %>
