<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <main>
    <% if (locals.poll) { %>
      <h1><%= poll.question %></h1>
      <form action="/poll/<%= poll._id %>" method="POST">

        <% poll.answers.forEach((answer, index) => { %>
          <label>
            <input type="radio" name="answer" value="<%= index %>"/>
            <%= answer.answer %>
          </label>
        <% }) %>

        <button type="submit">Submit</button>
      </form>
    <% } else { %>
      <p>This poll could not be found</p>  
    <% } %>
  </main>

    <%- include('../partials/footer'); %>
</body>
</html>