<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <main>
    <% if (locals.poll) { %>
      <h1><%= poll.question %></h1>
      <section class="poll-results">
        <% poll.answers.forEach((answer, index) => { %>
          <div>
            <p class="<%= `answer-${index}` %>"><%= answer.answer %></p>:
            <p class="<%= `votes-${index}` %>"><%= answer.votes %></p>
          </div> 
        <% }) %>
      </section>

      <p id="errorMsg">Oops... something went wrong</p>
      <button id="subscribe">Subscribe</button>
      <script>
        const vapidKey = <%- JSON.stringify(publicVapidKey) %>
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
      <script src="/scripts/socket.js"></script>
      <script src="/scripts/subscribe.js"></script>
    <% } %>
  </main>

    <%- include('../partials/footer'); %>
</body>
</html>